# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
from sqlalchemy import create_engine
connection_string = f'mysql+pymysql://ironhacker_read:ir0nhack3r@35.239.232.23/employees'
engine = create_engine(connection_string)
query = 'SELECT * FROM employees_advanced'

In [3]:
salaries = pd.read_sql(query, engine)

Examine the `salaries` dataset using the `head` function below.

In [4]:
# salaries.head()

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
from scipy import stats

Hypothesis:

H0: hourly wage = 30

H1: hourly wage != 30

In [11]:
hourly = salaries[salaries['Salary or Hourly']=='Hourly']

In [14]:
np.mean(hourly['Hourly Rate'])

32.78855771628024

In [13]:
stats.ttest_1samp(hourly['Hourly Rate'],30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

The p-value/2 is << 0.05, therefore, we reject the null hypothesis, suggeting that the hourly wage is different than $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

Hypothesis:

H0: salary = $86000/year

H1: salary > $86000/year

In [32]:
police = salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary')]

In [33]:
np.mean(police['Annual Salary'])

86486.41450313339

In [35]:
stats.ttest_1samp(police['Annual Salary'],86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

According to the results of the t-test, the p-value is 0.002. The test statistic must be positive since our hypothesis is greater than, which is true in this case. Therefore, we can reject the null hypothesis, suggesting that the salary in the police department is higher than $86000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [54]:
pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

In [41]:
pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])['Hourly'].sort_values(ascending=False)

Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
BUDGET & MGMT               2
FIRE                        2
PROCUREMENT                 2
DISABILITIES                0
DoIT                        0
COPA                        0
TREASURER                   0
HUMAN RELATIONS             0
CITY CLERK                  0
INSPECTOR GEN               0
BUILDINGS                   0
LICENSE APPL COMM           0
BOARD OF ETHICS             0
BOARD OF ELECTION           0
POLICE BOARD                0
ADMIN HEARNG                0
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

Hypothesis:

H0: hourly wage = $35/hour

H1: hourly wage < $35/hour

In [43]:
most_hourly_df = salaries[salaries['Department']=='STREETS & SAN']

In [58]:
np.mean(most_hourly_df['Hourly Rate'])

33.72837808807734

In [46]:
stats.ttest_1samp(most_hourly_df['Hourly Rate'].dropna(),35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [61]:
stats.t.interval(0.95,len(most_hourly_df['Hourly Rate'].dropna())-1,loc=np.mean(most_hourly_df['Hourly Rate'].dropna()), scale=stats.sem(most_hourly_df['Hourly Rate'].dropna()))

(33.467707197668176, 33.98904897848651)

In this case, the p-value/2 is << 0.05, and since hour hypothesis is smaller than, our statistic must be negative. This is also met, therefore we can reject H0, suggesting that the hourly workers in the 'Streets & San' department have a smaller hourly wage than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [52]:
stats.t.interval(0.95,len(hourly['Hourly Rate'])-1,loc=np.mean(hourly['Hourly Rate']), scale=stats.sem(hourly['Hourly Rate']))

(32.52345834488425, 33.05365708767623)

The value of 30 is not contained in the confidence interval, therefore, we reach the same conclusion as before (the hourly wage is statistically different than $30/hour).

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [53]:
stats.t.interval(0.95,len(police['Annual Salary'])-1,loc=np.mean(police['Annual Salary']), scale=stats.sem(hourly['Hourly Rate']))

(86177.05631531784, 86795.77269094894)

The value of 86000 is not contained in the confidence interval, therefore we reach the same conclusion as before (the salary in the police department is statistically higher than $86000/year)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [57]:
from statsmodels.stats.proportion import proportions_ztest